* {
  box-sizing: border-box;
  font-family: "Roboto-light.ttf", sans-serif;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Header */
header {
  background-color: #63b2bd;
  padding: 20px;
}

.tagline,
.profile {
  display: inline-block;
  padding: 30px;
}

.main-nav li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: rgb(70, 87, 161);
  text-transform: uppercase;
  padding: 15px;
  height: 100%;
}

.main-nav li {
  list-style: none;
  background-color: white;
  margin: 10px;
  font-weight: bolder;
  border-radius: 8px;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.main-nav li:hover {
  background-color: blue;
}

.main-nav li:hover a {
  color: white;
}

.footer-nav li:hover {
  background-color: blue;
}

.footer-nav li:hover a {
  color: white;
}

a:hover {
  color: blue;
}

/* Content */

body {
  text-align: center;
}

main {
  padding: 50px 20px;
}

.content-wrapper {
  padding: 20px;
  color: grey;
}

.content-wrapper p {
  padding: 0 10px;
}

.contact {
  background-color: #63b2bd;
  border-bottom-style: dotted;
  padding-bottom: 20px;
}

ul {
  list-style-position: inside;
}

.hobbies {
  padding: 20px;
}

/* Footer */
footer {
  background-color: #63b2bd;
  padding: 20px;
}

footer a {
  color: rgb(70, 87, 161);
  text-decoration: none;
}

.footer-nav li {
  display: none;
  list-style: none;
  background-color: white;
  margin: 10px;
  font-weight: bolder;
  border-radius: 8px;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.footer-nav li a {
  width: 100%;
  text-decoration: none;
  color: rgb(70, 87, 161);
  text-transform: uppercase;
  padding: 20px;
  height: 100%;
}

/* Media */

@media (min-width: 768px) {
  .main-nav li {
    display: inline-block;
  }

  .profile,
  .tagline {
    float: right;
    width: 50%;
    text-align: left;
  }

  .wrapper {
    padding: 20px;
    width: 50%;
    float: left;
  }

  .footer-nav li {
    display: inline-block;
  }

  .footer-nav ul {
    padding: 30px;
  }

  footer .back-top {
    display: none;
  }

  /* Float Clearfix */

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 20px;
    width: 33.3%;
  }
}
